.navbar {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  font-size: 18px;
  
}

li {
  list-style-type: none;
}

.navbar #login{
  margin-left: auto;
  justify-content: center;
}

.navbar a {
  color: #000;
  padding: 12px 24px;
}

.navbar a:hover {
  color: #fff;
  background-color: #17a2b8;
  border-radius: 4px;
}

.navbar .action {
  font-weight: bold;
}

form {
    /* display: flex; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: baseline;
}

#nome.form-control, #tipo.form-control{
  display: inline;
  width: 73%;
}

  label {
    /* display: block; */
    /* margin-bottom: 10px; */
    font-weight: bold;
  }
  
  input {
    /* padding: 10px; */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #058295;
  }

  h3{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0px;
  }

  .table{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  